body{
    background-color: blue;
}

h2{
    font-family: "Comic Sans MS";
    background-color: red;
    text-align: center;
}

table{
    background-color: grey;
    margin: 0 auto;
    padding: 5px;
    width: 68%;
    border-width: 0px;
}

.kolom1{ 
    font-weight: bold;
    width: 15%;
}

.kolom2{width: 2%;}

.kolom3{width: 83%;}

#txtNama, #txtKota {width: 186px;}

#txtTgl, #txtBulan {width: 54px;}

#txtTahun{width: 87px;}

#txtAlamat{
    width: 346px;
    height: 42px;
}

table {
    border: 2px solid black;
    border-radius: 8px;
}

/* Border */
td {
    border-bottom: 1px solid black;
    padding: 5px;
}
/* button */
#btnKirim, #btnCancel {
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#btnKirim {background-color: white;}

#btnCancel {background-color: lightgray;}